@page "/Trabajo/Delete"
@page "/Trabajo/Delete/{TrabajosId:int}"
@inject TrabajosServices trabajosServices
@inject NavigationManager navigationManager
@inject NotificationService NotificationService
@rendermode InteractiveServer

<PageTitle>Eliminar Trabajos</PageTitle>
@if (Trabajos != null)
{
    <div class="container">
        <div class="card shadow-header">

            <div class="card-header  bg-primary text-white text-center py-2 rounded">
                <h3><strong>Eliminar Trabajos</strong></h3>
            </div>
            <div class="card-header">
                <h3 class="text-danger">¿Estás seguro de que quieres eliminar el siguiente trabajos?</h3>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card shadow-lg">
                            <div class="card-header">
                                <h3 class="text-center"><strong>Datos del t&eacute;cnico</strong></h3>
                            </div>
                            <div class="card-body">
                                <div class="border-primary border-2 borde">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-8">
                                                <ul class="list-unstyled">
                                                    <li><strong>TrabajosId:</strong> @Trabajos.TrabajosId</li>
                                                    <li><strong>Fecha:</strong> @Trabajos.Fecha.ToString("dd/MM/yyyyy")</li>
                                                    <li><strong>Clientes:</strong> @Trabajos.clientes?.Nombres</li>
                                                    <li><strong>Tecnicos:</strong> @Trabajos.tecnicos?.Nombre</li>
                                                    <li><strong>Descripcion:</strong> @Trabajos.Descripcion</li>
                                                    <li><strong>Prioridad:</strong> @Trabajos.prioridades?.Descripcion</li>
                                                    <li><strong>Monto:</strong> @Trabajos.Monto</li>
                                                    <li><strong>Articulo:</strong> @TrabajoDetalle?.Articulos?.Descripcion</li>
                                                    <li><strong>Cantidad:</strong> @TrabajoDetalle?.Cantidad</li>
                                                    <li><strong>Precio:</strong> @TrabajoDetalle?.Precio</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>

            <div class="card-footer">
                @*Boton Eliminar*@
                <button type="button" class="btn btn-outline-danger" @onclick="EliminarTecnico"><i class="bi bi-trash-fill"></i> Eliminar</button>
                @*Boton Volver*@
                <button type="button" class="btn btn-outline-primary" @onclick="Volver"><i class="bi bi-box-arrow-left"></i> Volver</button>
            </div>

        </div>
    </div>
}
else
{
    <p>Trabajos no encontrado.</p>
}

@code {
    [Parameter]
    public int TrabajosId { get; set; }
    public Trabajos? Trabajos { get; set; } = new Trabajos();
    public int ArticuloId { get; set; }
    public TrabajoDetalle? TrabajoDetalle { get; set; }
    public List<Articulos> Articulos { get; set; } = new List<Articulos>();
    public List<Articulos> ListaArticulo { get; set; } = new List<Articulos>();


    protected override async Task OnInitializedAsync()
    {
        if (TrabajosId != 0)
        {
            Trabajos = await trabajosServices.Buscar(TrabajosId);
            if (Trabajos?.TrabajoDetalle != null)
            {
                TrabajoDetalle = Trabajos.TrabajoDetalle.FirstOrDefault(td => td.ArticuloId == ArticuloId);
            }
            Articulos = await trabajosServices.ObtenerArticulos();
        }
    }

    public async Task EliminarTecnico()
    {
        var eliminado = await trabajosServices.Eliminar(Trabajos.TrabajosId);
        Volver();
    }

    public void Volver()
    {
        navigationManager.NavigateTo("/Trabajo/Index");
    }
}
